$azul: #275070;
$azultitulo: #1C4481;
$aqua: #3F8F8B;
$blanco: #FDFEFE;
$gris: #CCD1D1;
$negro: #17202A;
$rosado: #715C8C;

$f-family-all: 'Roboto', sans-serif;
$f-family-titulos: 'Original Surfer', cursive;

$font-title: 28px;
$font-welcome: 35px;
$font-logo: 30px;
$font-nav: 18px;
$font-body: 18px;
$font-bodysmall: 14px;
$font-footer: 16px; 
$font-footersmall: 12px;

$margin-toppg: 30px;
