*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

/*Header*/
header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: #275070;
    height: 80px;
    padding: 20px;
    position: fixed;  
}

.navbar{
    position: fixed;
    width: 100%;
    
}

h1, .logo{
    font-family: 'Original Surfer', cursive;
    font-size: 30px;
    flex-grow: 1;
    flex-shrink: 0;
    color: white;
    justify-content: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav ul li{
    margin: 0px 20px;
    word-spacing: 15px;
}

nav ul li a{
    color: lightgrey;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover{
    color:white;
    transition: all .5s;
    text-decoration: none;
}

/*Footer*/
.page-footer{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.foot{
    height: auto;
    width: 100%;
    padding: 20px 20px;
    background-color: #275070;
    text-align: center;
    justify-content: center; 
}

.foot__Text{
    font-size: 16px;
    color: white;
    word-spacing: 10px;
}

.redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}

.icon-redes-footer{
    font-size: 40px;
    margin: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
    text-decoration: none;
}

/*body general*/

body{
    color: black;
    font-size: 18px;
    background-image: url(../Imagenes/Fondo/sutil.png);
    position: relative;
}

.titulos{
    font-size: 28px;
    color: #715C8C;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: hidden;
    margin-top: 40px;
    font-family: 'Original Surfer', cursive;
}

/*Página de Inicio*/

.background__Img{
    display: flex;
    background-image: url(../Imagenes/welcome.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-attachment: fixed;
}

.contenedor__Inicio{
    display: flex;
    margin-top: 500px;
    width: 100%;
    height: 70vh;
    background-image: url(../Imagenes/Fondo/sutil.png);
}

.body__Inicio{
    margin: auto;
    width: 960px;
    
    height: 70vh;
    text-align: center;   
}

.titulo1{
    font-size: 35px;
    width: 100%;
    color: #1C4481;
    display: block;
    position: relative;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: hidden;
    margin-top: 40px;
    font-family: 'Original Surfer', cursive;
    animation: text 3s 1;
}

.titulo2{
    font-size: 30px;
    font-family: 'Original Surfer', cursive;
    color: #3F8F8B ;
    display: block;
    position: relative;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

@keyframes text{
    0%{
        color: #C7233B;
        margin-bottom: 80px;
    }
    35%{
        letter-spacing:25px;
        margin-bottom: 80px
    }
    85%{
        letter-spacing:8px;
        margin-bottom: 80px
    }

}

.texto__Inicio{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
    line-height: 2;
    height: auto;
}

/*Página Nosotros*/
.main__Nos{
    width: 100%;
    height: 100vh;
    padding: 80px;
}

.contenedor__Nos{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    position: static;
}

.texto__Nos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    line-height: 1.6;
    height: auto;
    text-align: justify;
}

#slide{
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}


/*Página Servicios*/
.contenedor__Serv{
    width: 100%;
    height: auto;
    padding-top: 70px;
    display: grid;
}

.containerTabla{
    width: 90%;
    height: 100vh;
    margin: 50px auto;
    background-color: #E1E2E7;
    background-image: linear-gradient(to bottom right, #1C4481, 60%, white);
    border-style: double;
    border-color: lightgray;
    box-shadow: 0 0 20px #333;
    
    display:grid;
    place-items: center;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.table-header-image, table-header, table-item{
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 10px;
}

.table-header{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Original Surfer', cursive;
}

.table-item{
    margin-top: 0;
    font-size: 15px;
    padding: 15px;
    text-align: justify;
    line-height: 1.6;
    position: top;
    
}

.viñeta{
    list-style-image: url(../Imagenes/Icono/pawprint.png);
    list-style-position: inside;
    text-align: left;
    line-height: 1.6;
}


.table-header-image{
    margin-top: 20px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 5%;
    filter: saturate(1.2);
}

.image1{
    background-image: url(../Imagenes/durmiendo.jpg);
    background-size: cover;
    background-position: center;
}

.image2{
    background-image: url(../Imagenes/perros.jpg);
    background-size: cover;
    background-position: center;
}

.image3{
    background-image: url(../Imagenes/baño1.jpg);
    background-size: cover;
    background-position: center;
}

.image4{
    background-image: url(../Imagenes/drive.jpg);
    background-size: cover;
    background-position: center;
}

/*Página Preguntas Frecuentes*/
.main__QA{
    width: 100%;
    height: auto;
    padding: 80px;
}

.contenedor__QA{
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.6;
    margin-top: 30px;
}

.secc__Preg{
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
}

.preg__Text{
    color:#045174;
    font-weight: bold;
    font-family: 'Original Surfer', cursive;
    font-size: 20px;
    line-height: 1.6;
}

.secc__Contrato{
    margin: auto;
    width: 960px;
    padding: 15px;
    height: auto; 
    text-align: center;
    border-style: groove;
    background-color: #E1E2E7;
}



/*Pagina Testimonios*/
.main__Test{
    width: 100%;
    height: auto;
    padding: 70px;
}

.container__Test{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonio{
    width: 280px;
    margin: 30px;
    height: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px #333;
    background-color: #E1E2E7;
    font-size: 14px;
}


.font__Test{
    padding: 10px;
    font-size: 18px;
    color: #955670;
    font-weight: bold;
    position: relative;
    font-family: 'Original Surfer', cursive;
}

.font__Test-body{
    font-size: 14px;
    color: black;
}

.galeria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}
.galeria__Contenedor{
    width: 65%;
    height: 60%;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 15px ;
    grid-template-areas: "fotos7  fotos6  fotos4"
                         "fotos5  fotos1  fotos4"
                         "fotos5  fotos2  fotos3";
}
.forma__Imag-Card, .forma__Imag{
    min-width: 180px;
    min-height: 180px;
    border-radius: 5%;     
}
.forma__Imag:hover{
    transform: scale(1.1);
    transition: 0.7s;
    filter:saturate(1.5);
}

.testimonio:hover{
    transform: translateY(-15px);
}

.fotos1{
    grid-area: "fotos1";
    grid-column: 2;
    grid-row: 2;
    background-image: url(../Imagenes/foto1.jpeg);
    background-size: cover;
    background-position: center;
}
.fotos2{
    grid-area: "fotos2";
    grid-column: 2;
    grid-row: 3;
    background-image: url(../Imagenes/foto2.jpeg);
    background-size: cover;
    background-position: center;
}
.fotos3{
    grid-area: "fotos3";
    grid-column:3;
    grid-row: 3;
    background-image: url(../Imagenes/foto3.jpeg);
    background-size:cover;
    background-position: center;
}
.fotos4{
    grid-area: "fotos4";
    grid-column: 3;
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../Imagenes/foto4.jpeg);
    background-size: cover;
    background-position: center;
}
.fotos5{
    grid-area: "fotos5";
    grid-column:1;
    grid-row: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(../Imagenes/foto5.jpeg);
    background-size: cover;
    background-position: center;
}
.fotos6{
    grid-area: "fotos6";
    grid-column:2;
    grid-row: 1;
    background-image: url(../Imagenes/foto6.jpg);
    background-size: cover;
    background-position: center;
}
.fotos7{
    grid-area: "fotos7";
    grid-column:1;
    grid-row: 1;
    background-image: url(../Imagenes/foto7.jpg);
    background-size:cover;
    background-position: center;
}

/*Página Contacto*/
.container__cont{
    width: 100%;
    height: auto;
    padding: 70px;
}
  
form{
    position: relative;
    margin-top: 50px;
    align-content: flex-end;
}

.titulos__Contacto{
    color: #045174;
    font-family: 'Original Surfer', cursive;
    margin-top: 50px;
    font-size: 25px;
}
  
iframe{
    margin-bottom: 30px;
}

.icono__correo{
    list-style-image: url(../Imagenes/Icono/correo.png);
    list-style-position: inside;
    text-align: left;
    line-height: 1.6;
}

.icono__teléfono{
    list-style-image: url(../Imagenes/Icono/llamada-telefonica.png);
    list-style-position: inside;
    text-align: left;
    line-height: 1.6;
}

.icono__ubicación{
    list-style-image: url(../Imagenes/Icono/ubicacion.png);
    list-style-position: inside;
    text-align: left;
    line-height: 1.6;
}
.icono__horario{
    list-style-image: url(../Imagenes/Icono/paso-del-tiempo.png);
    list-style-position: inside;
    text-align: left;
    line-height: 1.6;
}

/*Para dispositivos estilo celular*/  
@media only screen and (max-width: 575px){
    header{
        height: auto;
        position: relative;
    }

    nav ul{
        height: 170px;
        flex-direction: column;
        text-align:center;
    }

    .logo{
        font-size: 25px;
    }

    .titulo1, .titulo2, .titulos{
        font-size: 20px;
    }

    body, p{
        font-size: 14px;
    }

    .background__Img{
        display: flex;
        place-items: center start;
        background-size: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
   
    .contenedor__Inicio{
        display: flex;
        place-items: center;
        height: auto;
        position: relative;
    }  
    .body__Inicio{
        margin: auto;
        width: auto;
        padding: 15px;
        height: auto;
    }
    header{
        display: flex;
        place-items: center;
    }

    #slide{
        width: 100%;
        height:fit-content;
    }
    
    .contenedor__Serv, .containerTabla{
        display: flex;
        place-items: center;
        height: auto;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;     
    }
    
    .table-header-image{
        display: none;
    }

    .contenedor__QA{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        font-size: 14px;
    }

    .preg__Text, .font__Test, .titulos__Contacto{
        font-size: 16px;
    }
    
    .secc__Contrato{
        width: 90%;
    }

    iframe, .column {
        width: 100%;
    }

    .forma__Imag{
        grid-column: span 2;
        grid-row: span 2;

    }


    .page-footer, .foot__Text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container__cont{
        width: 90%;
    }
    
}   

/*Para dispositivos tipo tables y luego tamaño normal con pantallas más*/
@media only screen and (min-width: 576px)and (max-width:768px){
    header{
        height: auto;
        position: relative;
    }

    .logo{
        font-size: 26px;
    }

    .titulo1, .titulo2, .titulos{
        font-size: 22px;
    }

    body, p{
        font-size: 16px;
    }

    .background__Img{
        display: flex;
        place-items: center start;
        background-size: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
   
    .contenedor__Inicio{
        display: flex;
        place-items: center;
        height: auto;
        position: relative;
    }  
    .body__Inicio{
        margin: auto;
        width: auto;
        padding: 15px;
        height: auto;
    }
    
    .main__Nos{
        display: flex;
        flex-direction: column;
        column-count: 1;
        flex-wrap: nowrap;
        height: auto;
    }
   

    #slide{
        width: 100%;
    }
    
    .contenedor__Serv, .containerTabla{
        display: flex;
        place-items: center;
        height: auto;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;     
    }
    
    .table-header-image{
        display: none;
    }

    .contenedor__QA{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        font-size: 14px;
    }

    .preg__Text, .font__Test, .titulos__Contacto{
        font-size: 18px;
    }
    
    .secc__Contrato{
        width: 100%;
    }

    iframe, .column {
        width: 100%;
    }

    .forma__Imag{
        grid-column: span 3;
        grid-row: span 3;

    }

    .page-footer, .foot__Text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }  
}   

@media only screen and (min-width: 769px)and (max-width: 1200px){
    header{
        height: auto;
        position: relative;
    } 
    
    .contenedor__Serv, .containerTabla{
        height: 80%;    
        width: 80%;
    }

    .contenedor__QA{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        font-size: 14px;
    }

    .secc__Contrato{
        width: 100%;
    }

    iframe, .column {
        width: 100%;
    }
}   

@media only screen and (min-width: 1200px){
    header{
        height: auto;
        position: relative;
    }    

    .contenedor__Serv, .containerTabla{
        height: 90%;    
    }

    iframe, .column {
        width: 100%;
    }

}

/*Estilo Barra de Desplazamiento*/
/*Chrome*/
::-webkit-scrollbar-track
{
   box-shadow: outset 0 0 6px rgba(0,0,0,0.3);
   background-color:white; 
}

::-webkit-scrollbar
{
    width: 12px;
    background-color:black;
}

::-webkit-scrollbar-track
{
    box-shadow: outset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color:#a2a2a2; 
}

/*Mozilla*/
::-moz-scrollbar-track
{
   box-shadow: outset 0 0 6px rgba(0,0,0,0.3);
   background-color:white; 
}

::-moz-scrollbar
{
    width: 12px;
    background-color:black;
}

::-moz-scrollbar-track
{
    box-shadow: outset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color:#a2a2a2; 
}
